<div class="container">
    <div class="card">
        <div class="panel panel-info">
            <div class="panel-heading">姓名</div>
            <div class="panel-body">{{name}}</div>
            <div class="panel-heading">专业</div>
            <div class="panel-body">{{major}}</div>
            <div class="panel-heading">专业总人数</div>
            <div class="panel-body">{{sum}}</div>
            <div class="panel-heading">第一学年绩点</div>
            <div class="panel-body">{{score1}}</div>
            <div class="panel-heading">第一学年专业排名</div>
            <div class="panel-body">{{range1}}</div>
        </div>
        <a class="btn btn-lg btn-primary btn-block" href="">返回</a>
    </div>
</div>